    .user_form {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: space-around;
        height: 30vh;
        width: 60vw;
        max-width: 700px;
        border-radius: 1rem;
        margin: 0 auto;
        padding: 1vh 1vw;
        background-color: #c0c0c0;

        .input_text {
            max-width: 80%;
            font-size: 2rem;
            text-align: center;
            border-radius: 0.5rem;
        }
    }
