.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.button {
  padding: 1vh 1vw;
  font-size: 1.5rem;
  border: 1px solid #000;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.button_danger:hover {
  background-color: #ff0000;
  color: #fff;
  transform: scale(1.2);
}

.button_save:hover {
  background-color: #00ff00;
  transform: scale(1.2);
}
